

  <!--Section: Design Block-->
  <section>
    <!-- Intro -->
    <div id="intro" class="bg-image vw-100 vh-100 " style="
          background-image: url('/assets/book.jpg');  background-repeat: no-repeat ;  background-size: cover; 
        ">
      <div class="mask" style="background-color: rgba(250, 182, 162, 0.15);"></div>
    </div>
    <!-- Intro -->
  </section>
  <!--Section: Design Block-->
</header>